body { }

#home { background: url("../images/backmenu480.png") no-repeat center center fixed;}
#home .ui-listview { text-align: left; }
#home .ui-listview .ui-btn { background-color:transparent;border: none;color: #fff;margin: 20px 20px 20px 20px;}
#home .ui-listview .ui-btn .ui-li { border: none; }
#home .ui-listview .ui-btn .ui-li .ui-icon { display: none; }
#home .ui-listview .ui-btn .ui-li .ui-link-inherit { font-size: .8em; font-weight: normal; padding: 80px 0px 0px 0px; text-align: center; }
#home .ui-listview .ui-btn .ui-li .ui-icon-carat-r { background-image: url("images/Seta_24x24.png") }
#home .ui-listview .ui-li-icon { height:32px;width:32px; font-size: 24px; }
#home .ui-link { border: none; background-color:transparent; }
#home .ui-listview > .ui-li-has-icon > img:first-child,
#home .ui-listview > .ui-li-has-icon > .ui-btn > img:first-child { position: absolute; left: 5px; top: 5px; max-height: 24px; max-width: 24px; }
#home .ui-listview .ui-btn-active { background-color: transparent; border:none; color: #fff; }
#home .ui-listview .ui-btn.ui-btn-a:active { background-color: transparent; border:none; color: #fff; }

#normalPage .ui-link { border: none; background-color:transparent; }
#aditionalPage .ui-link { border: none; background-color:transparent; }
#normalAddPage .ui-link { border: none; background-color:transparent; }
#aditionalAddPage .ui-link { border: none; background-color:transparent; }
#faultPage .ui-link { border: none; background-color:transparent; }
#faultAddPage .ui-link { border: none; background-color:transparent; }
#approvePage .ui-link { border: none; background-color:transparent; }
#settingPage .ui-link { border: none; background-color:transparent; }
#aboutPage .ui-link { border: none; background-color:transparent; }

.ui-icon-home-menu:after { background-image: url("../images/Menu_24x24.png"); }
/*.ui-li-icon-normal { background-image: url("../images/HorasNormais-24x24.png"); }
.ui-li-icon-aditional { background-image: url("../images/HorasAdicionais_24x24.png"); }
.ui-li-icon-absence { background-image: url("../images/Ausencia_24x24.png"); }
.ui-li-icon-approve { background-image: url("../images/Aprovar_24x24.png"); }
.ui-li-icon-setting { background-image: url("../images/Ajustes_24X24.png"); }
.ui-li-icon-about { background-image: url("../images/Informacoes_24x24.png"); }*/

.content {margin-top: 15px;}
.footer { margin-top: -30px; }
.header { position: fixed; width: 100%; z-index: 9999; height: 50px; background-color: #00325D; border-bottom: solid 1px #ffcc1d; }
.ui-content { padding: 1em; }

.ui-header.ui-bar-a {
    background: #00325D; /* Old browsers */
    background: -moz-linear-gradient(top, #00325D 0%, #00325D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00325D), color-stop(100%, #00325D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00325D 0%, #00325D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00325D 0%, #00325D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00325D 0%, #00325D 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00325D 0%, #00325D 100%); /* W3C */
    border: 1px solid #00325D;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-color: #00325D;
    height:50px;
}

.ui-header.ui-bar-a > .ui-title { text-shadow: none; }
.ui-footer { text-align: center; }
.ui-overlay-a, .ui-page-theme-a, .ui-panel-wrapper {
    color: #000;
    text-shadow: 0px 1px 0px #fff;
}

.ui-header .ui-btn,
.ui-footer .ui-btn {
	font-size: 9.5px;
	display: inline-block;
	vertical-align: middle;
    background-color:transparent;
}

.ui-btn-active {
    border: none; background-color:transparent;
}

.ui-content .ui-listview-inset { margin: 1em 5px; }

.ui-loader-verbose {
    background: -moz-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 123, 152, 1)), color-stop(100%, rgba(41, 192, 227, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* W3C */
}

/*Hack para WP 8*/
@viewport
{
    width:320px;
}

@-ms-viewport {
    width:320px;
    zoom-user:fixed;
    max-zoom:1;
    min-zoom:1;
}
body, html { 
  -ms-overflow-style: none !important; 
}

/* Left transition */
li.left {
-webkit-transition: -webkit-transform 250ms ease;
-webkit-transform: translateX(-100%);
-moz-transition: -moz-transform 250ms ease;
-moz-transform: translateX(-100%);
-o-transition: -o-transform 250ms ease;
-o-transform: translateX(-100%);
transition: transform 250ms ease;
transform: translateX(-100%);
}
/* Right transition */
li.right {
-webkit-transition: -webkit-transform 250ms ease;
-webkit-transform: translateX(100%);
-moz-transition: -moz-transform 250ms ease;
-moz-transform: translateX(100%);
-o-transition: -o-transform 250ms ease;
-o-transform: translateX(100%);
transition: transform 250ms ease;
transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
border-top-width: 0;
border-left-width: 1px;
border-right-width: 1px;
}
li a.ui-btn.border-bottom {
border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
margin-right:0;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	/*background-color: 					#666;*/
	/*background-color: 					rgba(0,0,0,.3);*/
	/*background-position: center center;*/
	/*background-repeat: no-repeat;*/
	/*-webkit-border-radius: 1em;
	border-radius: 1em;*/
}